pandas
python-dateutil
pytz
six
langchain
langchain-ollama
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-core
openpyxl
python-dotenv
gradio
pytesseract
pdf2image
pypdf
numpy
sentence-transformers
faiss-cpu
rank-bm25
SpeechRecognition
sounddevice
pyttsx3
soundfile
scipy
torch
transformers
huggingface_hub
